This file creates the basic steps for importing to and exporting from pgAdmin. The cleaning file cleans the data saves these tables into csv files, and also imports them into pgAdmin. This file just takes the cleaned csv files and imports them into pgAdmin without the cleaning steps. This file also includes the code to pull the joined table out of pgAdmin, which can be incorporated directly into the machine learning file.

In [1]:
## Config.py file with pgAdmin Password is needed to run this, and a database called "austin_housing"

import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from pandas.io import sql

from config import db_password

In [2]:
# Pull cleaned tables from CSVs


descriptiveinfo = pd.read_csv("../resources/descriptiveinfo.csv")
dateinfo = pd.read_csv("../resources/dateinfo.csv")
regressiondata_allcol = pd.read_csv("../resources/regressiondata_allcolumns.csv")
regression_all = pd.read_csv("../resources/regressiondata_reduced.csv")
regression_2018 = pd.read_csv("../resources/regressiondata_2018.csv")
regression_2019 = pd.read_csv("../resources/regressiondata_2019.csv")
regression_2020 = pd.read_csv("../resources/regressiondata_2020.csv")
zip_price = pd.read_csv("../resources/zip_price.csv")

In [ ]:
# Copying tables into pgAdmin

In [3]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/austin_housing"
engine = create_engine(db_string)

#import description table
descriptiveinfo.to_sql(name='description', con=engine, if_exists='replace')

#import pricing table
dateinfo.to_sql(name='date_basics', con=engine, if_exists='replace')

#import regression table
regression_all.to_sql(name='regression_all', con=engine, if_exists='replace')

#import regression years tables
regression_2018.to_sql(name='regression_2018', con=engine, if_exists='replace')
regression_2019.to_sql(name='regression_2019', con=engine, if_exists='replace')
regression_2020.to_sql(name='regression_2020', con=engine, if_exists='replace')

#import zipcode table
zip_price.to_sql(name='zip_year', con=engine, if_exists='replace')

In [ ]:
# #originally imported tables
# description
# date_basics
# regression_all
# regression_2018
# regression_2019
# regression_2020
# zip_year


# NEED TO RUN SQL COMMANDS IN PGADMIN TO GET THE FOLLOWING JOINED TABLES

# #joined tables
# regressionzip_2018
# regressionzip_2019
# regressionzip_2020
# regressionzip_all

In [13]:
# commands to import tables used for regression analysis
regression2018_df = pd.read_sql('regressionzip_2018', db_string)
regression2019_df = pd.read_sql('regressionzip_2019', db_string)
regression2020_df = pd.read_sql('regressionzip_2020', db_string)
regressionall_df = pd.read_sql('regressionzip_all', db_string)
regressionallcolumns_df = pd.read_sql('regression', db_string)

In [14]:
regression2018_df.head()

,zpid,latestPrice,numOfBathrooms,livingAreaSqFt,numOfBedrooms,avgSchoolRating,numOfStories,MedianStudentsPerTeacher,numOfHighSchools,longitude,...,latitude,lotSizeSqFt,numOfPhotos,numPriceChanges,zipcode,propertyTaxRate,latest_saledate,latest_salemonth,latest_saleyear,averagePrice
0,120901374,240000.0,2.0,1678.0,3,2.666667,1,14,1,-97.661659,...,30.432112,6098.0,9,4,78660,1.98,2018-08-08,8,2018,250109.625000
1,60134862,239900.0,3.0,2132.0,3,4.000000,2,14,1,-97.656860,...,30.437368,6708.0,27,3,78660,1.98,2018-10-31,10,2018,250109.625000
2,60134835,219900.0,3.0,1422.0,3,4.000000,2,14,1,-97.658035,...,30.439404,5140.0,21,2,78660,1.98,2018-10-10,10,2018,250109.625000
3,83827468,194800.0,3.0,1422.0,3,3.000000,2,14,1,-97.638123,...,30.160702,5183.0,23,1,78617,1.98,2018-09-11,9,2018,193990.482759
4,64520966,200000.0,2.0,1326.0,3,3.000000,1,14,1,-97.650581,...,30.154284,6926.0,16,1,78617,1.98,2018-12-15,12,2018,193990.482759

In [15]:
regression2019_df.head()

,zpid,latestPrice,numOfBathrooms,livingAreaSqFt,numOfBedrooms,avgSchoolRating,numOfStories,MedianStudentsPerTeacher,numOfHighSchools,longitude,...,latitude,lotSizeSqFt,numOfPhotos,numPriceChanges,zipcode,propertyTaxRate,latest_saledate,latest_salemonth,latest_saleyear,averagePrice
0,111373431,305000.0,3.0,2601.0,4,2.666667,2,14,1,-97.663078,...,30.430632,6011.0,39,5,78660,1.98,2019-09-02,9,2019,285695.416667
1,2084491383,256125.0,2.0,1478.0,3,3.000000,1,14,1,-97.639771,...,30.409748,7840.0,2,1,78660,1.98,2019-07-31,7,2019,285695.416667
2,60134833,225000.0,2.0,1870.0,3,4.000000,2,14,1,-97.657959,...,30.439096,3811.0,16,1,78660,1.98,2019-09-19,9,2019,285695.416667
3,241930967,250000.0,3.0,2281.0,3,3.000000,2,14,1,-97.633354,...,30.159338,4965.0,37,1,78617,1.98,2019-04-12,4,2019,200321.181818
4,70341946,212000.0,2.0,1752.0,4,3.333333,1,14,1,-97.616470,...,30.168758,10802.0,26,5,78617,1.98,2019-02-27,2,2019,200321.181818

In [16]:
regression2020_df.head()

,zpid,latestPrice,numOfBathrooms,livingAreaSqFt,numOfBedrooms,avgSchoolRating,numOfStories,MedianStudentsPerTeacher,numOfHighSchools,longitude,...,latitude,lotSizeSqFt,numOfPhotos,numPriceChanges,zipcode,propertyTaxRate,latest_saledate,latest_salemonth,latest_saleyear,averagePrice
0,120900430,295000.0,2.0,1768.0,4,2.666667,1,14,1,-97.661697,...,30.432673,6185.0,29,1,78660,1.98,2020-10-13,10,2020,303125.250000
1,2080105342,309045.0,2.0,1446.0,3,4.000000,1,14,1,-97.656181,...,30.437775,5161.0,2,2,78660,1.98,2020-08-05,8,2020,303125.250000
2,241932337,315000.0,3.0,2432.0,4,3.666667,2,12,1,-97.643394,...,30.414684,12196.8,36,2,78660,1.98,2020-06-11,6,2020,303125.250000
3,241932327,279900.0,2.0,1580.0,3,3.666667,1,12,1,-97.643288,...,30.414934,5401.0,32,2,78660,1.98,2020-08-28,8,2020,303125.250000
4,69808966,239900.0,2.0,1762.0,4,3.333333,1,14,1,-97.623436,...,30.167768,6011.0,28,9,78617,1.98,2020-09-05,9,2020,198750.391304

In [17]:
regressionall_df.head()

,zpid,latestPrice,numOfBathrooms,livingAreaSqFt,numOfBedrooms,avgSchoolRating,numOfStories,MedianStudentsPerTeacher,numOfHighSchools,longitude,...,latitude,lotSizeSqFt,numOfPhotos,numPriceChanges,zipcode,propertyTaxRate,latest_saledate,latest_salemonth,latest_saleyear,averagePrice
0,111373431,305000.0,3.0,2601.0,4,2.666667,2,14,1,-97.663078,...,30.430632,6011.0,39,5,78660,1.98,2019-09-02,9,2019,285695.416667
1,120900430,295000.0,2.0,1768.0,4,2.666667,1,14,1,-97.661697,...,30.432673,6185.0,29,1,78660,1.98,2020-10-13,10,2020,303125.250000
2,2084491383,256125.0,2.0,1478.0,3,3.000000,1,14,1,-97.639771,...,30.409748,7840.0,2,1,78660,1.98,2019-07-31,7,2019,285695.416667
3,120901374,240000.0,2.0,1678.0,3,2.666667,1,14,1,-97.661659,...,30.432112,6098.0,9,4,78660,1.98,2018-08-08,8,2018,250109.625000
4,60134862,239900.0,3.0,2132.0,3,4.000000,2,14,1,-97.656860,...,30.437368,6708.0,27,3,78660,1.98,2018-10-31,10,2018,250109.625000

In [18]:
regression2020_df.to_csv("../resources/regressiondatazip_2020.csv")
regression2019_df.to_csv("../resources/regressiondatazip_2019.csv")
regression2018_df.to_csv("../resources/regressiondatazip_2018.csv")
regressionall_df.to_csv("../resources/regressiondatazip_all.csv")